doctype html
html(lang='en')
head
	title Auction House Items
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
	link(rel="stylesheet" href="/css/style.css")
	meta(name='viewport', content='width=device-width, initial-scale=1')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	script(src="/js/custom.js")

body
	include ./navbar.jade

	.row

		div(class="blue-grey darken-3 col s6" style="height:100vh")
			table(class="white-text bordered highlight" id="consignors" cellspacing="0" width="100%")
				thead
					tr
						th Lotnumber
						th Item Name
						th Description
				tbody
					each item in items
						tr
							td=item.lotnumber
							td=item.name
							td=item.description


		div(class="blue-grey darken-2 col s6" style="height:100vh")

			ul(class="collapsible" data-collapsible="accordion")
				li
					div(class="btn waves-effect waves-light blue-grey darken-4 collapsible-header") Add new lot
						i(class="small material-icons blue-text" id="viewConsignor") add
					div(class="collapsible-body")
						include ./forms/lotform.jade


			ul(class="collapsible" data-collapsible="accordion")
				li
					div(class="btn waves-effect waves-light blue-grey darken-4 collapsible-header") View lot
						i(class="small material-icons blue-text" id="viewConsignor") add
					div(class="collapsible-body")
						each item in items
							input(value='#{item.id}' name='updateid' hidden)
							div(class="gear")
								label(for="lotnumber") Lotnumber
								span(id="lotnumber" name="lotnumber" class="datainfo")= item.lotnumber
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save

							div(class="gear")
								label(for="itemname") Item Name
								span(id="name" name="name" class="datainfo")= item.name
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save

							div(class="gear")
								label(for="category") Category
								span(id="category" name="category" class="datainfo")= item.category
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save

							div(class="gear")
								label(for="description") Description
								span(id="description" name="description" class="datainfo")= item.description
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save

							div(class="gear")
								label(for="estimate") Estimate
								span(id="estimate" name="estimate" class="datainfo")= item.estimate
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save

							div(class="gear")
								label(for="reserve") Reserve
								span(id="reserve" name="reserve" class="datainfo")= item.reserve
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save

							div(class="gear")
								label(for="premium") Premium
								span(id="premium" name="premium" class="datainfo")= item.premium
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save

							div(class="gear")
								label(for="consignorid") Consignor#Id
								span(id="consignorId" name="consignorId" class="datainfo")= item.consignorId
								
								a(href="#" class="editlink") Edit Info
								a(class="savebtn") Save