doctype html
html(lang='en')
head
	title Auction House Items
	link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css")
	link(rel="stylesheet" href="/css/style.css")
	meta(name='viewport', content='width=device-width, initial-scale=1')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js")
	script(src="/js/custom.js")

body
	include ./navbar.jade

	.row

		div(class="blue-grey darken-3 col s6" style="height:100vh")
			table(class="white-text bordered highlight" id="consignors" cellspacing="0" width="100%")
				thead
					tr
						th Lotnumber
						th Item Name
						th Description
				tbody
					each item in items
						tr
							td=item.lotnumber
							td=item.name
							td=item.description


		div(class="blue-grey darken-2 col s6" style="height:100vh")

			ul(class="collapsible" data-collapsible="accordion")
				li
					div(class="btn waves-effect waves-light blue-grey darken-4 collapsible-header") Add new lot
						i(class="small material-icons blue-text" id="viewConsignor") add
					div(class="collapsible-body")
						include ./forms/lotform.jade


			ul(class="collapsible" data-collapsible="accordion")
				li
					div(class="btn waves-effect waves-light blue-grey darken-4 collapsible-header") View lot
						i(class="small material-icons blue-text" id="viewConsignor") add
					div(class="collapsible-body")
						each item in items
							form(action='/item' method='post' class='col s12 white-text' style="margin:10px")
								input(type="hidden" name="_method" value="put")
								.row(class="col s12")
							
									input-field(class='col s2')
										label(for="lotnumber") Lotnumber
										input(value="#{item.lotnumber}" name="lotnumber" type="text" class="validate")

									input-field(class='col s6')
										label(for="itemname") Item Name
										input(value="#{item.name}" name="name" type="text" class="validate")

									input-field(class='col s4')
										label(for="category") Category
										input(value="#{item.category}" name="category" type="text" class="validate")

								.row
									input-field(class='col s12')
										label(for="description") Description
										input(value="#{item.description}" name="description" type="text" class="validate")
								.row
									input-field(class='col s4')
										label(for="estimate") Estimate
										input(value="#{item.estimate}" name="estimate" type="text" class="validate")

									input-field(class='col s6')
										label(for="reserve") Reserve
										input(value="#{item.reserve}" name="reserve" type="text" class="validate")

									input-field(class='col s4')
										label(for="premium") Premium
										input(value="#{item.premium}" name="premium" type="text" class="validate")

									input-field(class='col s4')
										label(for="consignorid") Consignor#Id
										input(value="#{item.consignorId}" name="consignorId" type="text" class="validate")

								.row
									button(class="btn waves-effect waves-light blue-grey darken-4" type="submit" value='#{item.id}' name='updateid') Update
